<h3>Mean, Median, and Mode Calculator</h3>
<form>
<span>Numbers to work with:</span><input type="text" name="numbers" id="numbers" />
<button type="button" id="sub">Calculate!</button>
</form>
<ul>
  <li>Numbers you input: {{nums}}</li>
  <li>Mean: {{mean}}</li>
  <li>Median: {{median}}</li>
  <li>Mode: {{mode}}</li>
</ul>